/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

/* Login page styles */
.login-container {
  background-image: url('../../../assets/images/hero-bg.jpg');
  /* object-fit: fill; */
  background-position:  center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.login-form h2 {
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-secondary {
  background-color: #6c757d;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary:hover,
.btn-secondary:hover {
  opacity: 0.8;
}

.additional-links {
  margin-top: 15px;
  text-align: center;
}

.additional-links a {
  color: #007bff;
  text-decoration: none;
}

.additional-links a:hover {
  text-decoration: underline;
}
